extends includes/layout.jade
block aside
	aside(data-slide='beautifulSlide')
			a(href='#')
				.rotate_logo
					h1 steel
					h1
						span knife
					.logo_wrap
						img(src='img/logo.svg')
					.clearfix
			nav
				ul
					li#catalog
						a(href='#') каталог
						span
						nav
							ul Дамасская сталь
								li: a(href='#') Турист-2
								li: a(href='#') Беркут
								li: a(href='#') Медведь
								li: a(href='#') Рысь
							ul Сталь 65Х13
								li: a(href='#') Беркут-1
								li: a(href='#') Егерь
								li: a(href='#') Медведь
								li: a(href='#') Рысь
								li: a(href='#') Осетр
								li: a(href='#') Турист-2
							ul Сталь 95Х18
								li: a(href='#') Беркут-1
								li: a(href='#') Егерь
								li: a(href='#') Медведь
								li: a(href='#') Рысь
								li: a(href='#') Осётр
								li: a(href='#') Турист-2

					li
						a(href='#') доставка и оплата
						span
					li
						a(href='#') контакты
						span
			ul.mobile_numbers
				li +7(952)839 76 84
				li +7(952)839 76 44
				li +7(952)839 76 30
			button#write_us напишите нам
			nav.social_network
				ul
					li
						a(href='#') instagram
						span
					li
						a(href='#') vk
						span
					li
						a(href='#') youtube
						span
					li
						a(href='#') ok
						span
block content
	.wrap_content
		.wrap_category
			.wallpaper_cat#cat_damask
				img(src='img/knife/damask.png' alt='steelKnife' id='narrow_pic')
				img(src='img/knife/prod1.png' alt='steelKnife' id='higher_pic') 
				h1 Ножи из дамасской стали
				span
			.wallpaper_cat#cat_95X18
				img(src='img/knife/pirat-nozh-95-18.png' alt='steelKnife')
				h1 Ножи из стали 95х18
				span
			.wallpaper_cat#cat_65X13
				img(src='img/knife/ris-nozh-65x13.png' alt='steelKnife')
				h1 Ножи из стали 65х13
				span
			.clearfix
		.about_us
			.row
				.col-md-3
					.capture_us
						h1 О нас
				.col-md-9
					.content_us
						p.
							Приветствуем Охотников, Рыболовов, Туристов, Ножеманов и Всех кто посетил наш сайт. Вы сделали правильный выбор. Нашей целью является распространение качественных стальных изделий по РФ и СНГ ,и в частности Краснодару, ассортимент продукции постоянно увеличивается и Вы точно найдете модель которая будет Вам по душе. Мы состоим в теплых взаимоотношениях с производителем благодаря этому у нас доступные цены и высокое качество изделий.
			.row
				.col-md-3
					.capture_us
						h1 Почему мы
				.col-md-9
					.content_us.wrap_all_icon
						.icon_wrap
							img(src='img/icons/original.svg' alt='steelKnife')
							p Продажа оригинальных товаров
						.icon_wrap
							img(src='img/icons/proisvoditel.svg' alt='steelKnife')
							p Ножи прямо от производителя
						.icon_wrap
							img(src='img/icons/sena.svg' alt='steelKnife')
							p Доступные цены
						.icon_wrap
							img(src='img/icons/dostavka.svg' alt='steelKnife')
							p Бесплатная доставка по краснодару
						.icon_wrap
							img(src='img/icons/sng.svg' alt='steelKnife')
							p осуществляем доставку по рф и снг
						.icon_wrap
							img(src='img/icons/camera.svg' alt='steelKnife')
							p видео с характеристиками и тестами ножей из разных сталей
