.col-md-3
	aside
		a(href='#')
			.rotate_logo
				h1 steel
				h1
					span knife
				.logo_wrap
					img(src='img/logo.svg')
				.clearfix
		nav
			ul
				li: a(href='#') каталог
				li: a(href='#') доставка и оплата
				li: a(href='#') контакты
		ul.mobile_numbers
			li +7(952)839 76 84
			li +7(952)839 76 44
			li +7(952)839 76 30
		button#write_us напишите нам
		nav.social_network
			ul
				li: a(href='#') instagram
				li: a(href='#') vk
				li: a(href='#') youtube
				li: a(href='#') ok